@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100&family=Heebo:wght@200;500;600&family=Inter:wght@400;700&family=Lato&family=Open+Sans:wght@600;700&family=Poppins:ital,wght@0,300;0,700;1,400&family=Public+Sans:wght@100;500;800;900&family=Roboto+Condensed&family=Roboto+Mono:wght@300&display=swap');

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

/* Removing text decoration from anchor tags */
a {
  text-decoration: none !important;
  color: #1D1D1D !important;
}


/* Color  */
.text-color-1D1D1D {
  color: #1D1D1D !important;
}

.text-color-1D1D1D-50 {
  color: #1d1d1d8a !important;
}

.text-color-1D1D1D-80 {
  color: #1d1d1dd0 !important;
}

.text-color-004871 {
  color: #004871 !important;
}

.text-color-FF9640 {
  color: #FF9640 !important;
}

.bg-color-004871 {
  background-color: #004871 !important;
  color: #FFFFFF !important;
}

.bg-color-FAFBFE {
  background-color: #FAFBFE !important;

}

/* Color */

/* Font */
.fs-30-700 {
  font-size: 30px !important;
  font-weight: 700 !important;
  font-family: 'Open Sans', sans-serif;

}

.fs-23-700 {
  font-size: 23px !important;
  font-weight: 700 !important;
  font-family: 'Open Sans', sans-serif;

}

.fs-20-700 {
  font-size: 20px !important;
  font-weight: 700 !important;
  font-family: 'Open Sans', sans-serif;

}

.fs-20-500 {
  font-size: 20px !important;
  font-weight: 500 !important;
  font-family: 'Open Sans', sans-serif;

}

.fs-19-600 {
  font-size: 19px !important;
  font-weight: 600 !important;
  font-family: 'Open Sans', sans-serif;

}

.fs-18-400 {
  font-size: 18px !important;
  font-weight: 400 !important;
  font-family: 'Open Sans', sans-serif;

}

.fs-18-500 {
  font-size: 17px !important;
  font-weight: 500 !important;
  font-family: 'Open Sans', sans-serif;


}

.fs-16-600 {
  font-size: 16px !important;
  font-weight: 600 !important;
  font-family: 'Open Sans', sans-serif;

}

.fs-14-600 {
  font-size: 14px !important;
  font-weight: 600 !important;
  font-family: 'Open Sans', sans-serif;

}

label {
  font-size: 16px !important;
  font-weight: 600 !important;
  font-family: 'Open Sans', sans-serif;
  color: #1D1D1D;
  margin: 20px 0 10px 0;
}

/* Font */

/* Button */
.btn-custom {
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px !important;
  padding: 0 15px 0 15px !important;
}

/* Button */


/* Input filed */
input {
  height: 44px !important;
  border-radius: 1px !important;
  border: 1px solid #1d1d1d2f !important;
  font-size: 15px !important;
  font-weight: 500 !important;
  color: #1D1D1D !important;
  padding-bottom: 8px !important;
}

/* Input filed */

/* Validation filed */
.input-eye {
  position: absolute;
  font-size: 25px;
  right: 20px;
  top: 53px;
  cursor: pointer;
  z-index: 3;
  color: #4444449d;

}

input::placeholder {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0.0025em;
  text-align: left;
  color: #1d1d1d8a !important;
}

textarea::placeholder {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.0025em;
  text-align: left;
  color: #1d1d1d8a !important;
}




/*table card border */
.card-border {
  border-radius: 8px !important;
  border: .5px solid #1d1d1d15 !important;
}



.table-search input {
  height: 44px !important;
  width: 291px !important;
  border: 2px solid #1d1d1d15 !important;
  border-radius: 8px !important;
  padding: 0 0 3px 45px !important;
}

.table-search .search-icon-table {
  position: absolute;
  top: 2px;
  left: 15px;
  font-size: 22px;
  color: #1d1d1d83;
}

td {
  text-align: center;
  font-family: 'Inter', sans-serif;


}

td .faq {
  max-width: 10px !important;
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}


.overflow-table {
  overflow-x: auto !important;

}

.custom-table {
  border-collapse: collapse !important;
  border-spacing: 0;
  border: none !important;
  min-width: 100% !important;

}

.blank_row {
  height: 55px !important;
  /* overwrites any other rules */
  background-color: #FFFFFF;
  border-bottom: solid 1.5px #44444418 !important;
  border-left: 0;
  border-right: 0;
  width: 100% !important;

}

.blank_row td {
  padding: 0 0 0 8px !important;


}



.pdf button {
  border: none;
  height: 38px;
  width: 43px;
  background-color: #F3F6FF;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 3px;
  border-radius: 7px;
}

tr {
  border: #004871 !important;
}

@-moz-document url-prefix() {
  .simple-input input.form-control {
    padding: 0 0 0 20px !important;
  }

}

.error input {
  border: 1px solid red !important;


}

.error input {
  border: 1px solid red !important;


}

.error textarea {
  border: 1px solid red !important;

}

.error select {
  color: red !important;
  font-size: 13px;
  border: 1px solid red !important;
}

.error input::placeholder {
  color: red !important;

}

.centralErr {
  width: 100%;
  text-align: center;
  padding: 20px 0;
  margin: 0 0 40px 0;
  background-color: rgba(255, 81, 0, 0.116);
  color: rgba(255, 0, 0, 0.589);
  border: 1px solid rgba(255, 0, 0, 0.151);
  border-radius: 5px;

}

/* Validation filed */